//* {
//  transition: all 0.25s;
//}


//
// CORE TYPOGRAPHY
//

::selection {
  background-color: rgba(0,0,0,0.9);
  color: rgba(255,255,255,0.9);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  color: rgba(0,0,0,0.8);
  letter-spacing: -.03125rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin: 0 0 2rem 0;
  font-weight: 700;
}

h2:first-of-type {
  margin-top: 0;
}

h3 {
  margin: 2rem 0 1rem 0;
  font-weight: 700;
}

.feature h3 {
  margin-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0,0,0,0.8);
  margin-bottom: 1rem;
  max-width: 640px;
}

p:last-of-type {
  margin-bottom: 0;
}

.btn-outline-secondary {
  border-color: rgba(0,0,0,0.2);
  font-size: .875rem;
  color: rgba(0,0,0,0.8);
}

.btn-outline-secondary:hover {
  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.8);
}

.btn-outline-secondary:first-of-type {
  margin-right: .5rem;
}

//
// STRUCTURE
//

body {
  overflow-x: hidden;
}

.our-container {
  padding: 3rem;
  max-width: 1024px;
  margin: 0 auto;
}

// @include media-breakpoint-up(md) {
//   .our-container {
//     padding-left: $grid-gutter-width * 2;
//     padding-right: $grid-gutter-width * 2;
//   }
// }

//
// COLORATION
//

//
// FEATURES
//

.feature {
  // display: flex;
  align-items: center;
  padding: 3rem 0;
  // border-bottom: 1px solid rgba(0,0,0,0.1);
  a.more {
    display: block;
    margin-top: 0.75em;
    text-decoration: underline;
  }
  img {
    border-radius: 4px;
  }
  .embed-responsive {
    border-radius: 4px;
  }
}

.news {
  display: inherit !important;
}

.feature:last-of-type {
  border-bottom: none;
  // padding: 6rem 0 3rem 0;
}

.md-collapse-top-spacer {
  @extend .mt-4;
  @extend .mt-md-0;
}

.md-collapse-bottom-spacer {
  @extend .mb-4;
  @extend .mb-md-0;
}

//
// POSTS
//

.post {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  .post-date {
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.post:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}


//
// MASTHEAD
//

header.masthead {
  //font-family: 'Work Sans', sans-serif;
  font-size: .875rem;
  padding: 1.5rem 3rem;
  background-color: #191919;
  a.nav-link {
    color: white;
    padding-bottom: 0.75rem;
    &.active {
      border-bottom: 2px solid rgba(255,255,255,1);
      font-weight: bold;
    }
  }
  a.navbar-brand {
    flex-grow: 1 !important;
    color: rgba(255,255,255,0.95);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
  }

  .navbar {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  // section {
  //   text-align: center;
  // }
  //
  // .intro {
  //   text-align: initial;
  // }

  .navbar-toggle { display: block }
  .masthead .navbar-nav {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 36px;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    background: #333;
    border-radius: 6px;
    .nav-link {
      padding: 0.75em 0.5em 0.5em 1em;
    }
  }
  input.toggle:checked ~ .navbar-nav {
    display: block;
  }

  header.masthead {
    //font-family: 'Work Sans', sans-serif;
    padding: 1.5rem;
  }

  .flip {
    order: initial;
  }

  // .img-fluid {
  //   width: 75%;
  //   margin: 2rem auto 0 auto;
  //   display: flex;
  // }
}


@media only screen and (max-width: 640px) {
  .learn-more:first-of-type {
    margin-bottom: 3rem;
  }

  .feature {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 480px) {

  .our-container {
    padding: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    // margin-bottom: 1rem;
  }

}

// main {
//   padding-top: $vertical-padding;
//   padding-bottom: $vertical-padding;
// }
