//
// STICKY FOOTER
//

html {
  @extend .h-100;
}
body {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;
}
main {
  @extend .flex-shrink-0;
}
footer {
  @extend .mt-auto;
}

// style the footer

footer {
  padding-top: 1em;
  .shade {
    background-color: #191919;
    color: white;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
      color: white;
  }

  .row {
    //padding: 1rem;
    font-size: 90%;
  }
  .col {
    //text-align: center;
  }

  .our-container {
    padding: 1.5rem 3rem;
  }
}

@media only screen and (max-width: 480px) {

  footer .our-container {
    padding: 1.5rem;
  }

}
