<div class="feature">
  <h2>CalyxOS Features</h2>
  <div class="feature row">
    <div class="col-md-6">
      <h3>Goodbye, Google</h3>
      <p>Run your favorite Android apps without Google tracking your activity.</p>
      <a class="more" href="{{ 'microg' | page_url }}">Learn More</a>
    </div>
    <div class="col-md-6 md-collapse-top-spacer">
      <img class="img-fluid" src="{{ '/assets/images/app-stores.png' | relative_url }}" alt="#">
    </div>
  </div>

  <div class="feature row flip">
    <div class="col-md-6">
      <h3>Safe Communication</h3>
      <p>We include the best secure communications apps.</p>
      <a class="more" href="{{ 'communication-apps' | page_url }}">Learn More</a>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ '/assets/images/messaging.png' | relative_url }}" alt="#">
    </div>
  </div>

  <div class="feature row">
    <div class="col-md-6">
      <h3>Private Browsing</h3>
      <p>Use Tor Browser, CalyxVPN, and DuckDuckGo to keep yourself private online.</p>
      <a class="more" href="{{ 'private-browsing' | page_url }}">Learn More</a>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ '/assets/images/private-apps.png' | relative_url }}" alt="#">
    </div>
  </div>

  <div class="feature row flip">
    <div class="col-md-6">
      <h3>Regular Updates</h3>
      <p>Our team keeps CalyxOS up-to-date so you're always protected.</p>
      <a class="more" href="{{ 'system-updates' | page_url }}">Learn More</a>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ '/assets/images/os-updates.png' | relative_url }}" alt="#">
    </div>
  </div>
</div>
