<div class="shade">
  <div class="our-container">
    <div class="row">
      <div class="col join">
        <div>
          <span class="copyleft">&#169;</span> <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution Share-alike</a>
          &nbsp;&nbsp;&nbsp;
          &#169; {{'now' | date: '%Y' }} <a href="https://calyxinstitute.org">Calyx Institute</a>
        </div>
      </div>
    </div>
  </div>
</div>
