<div id="learn" class="feature">
  <h2>Learn More</h2>
  <div class="row">
    <div class="col-md-6 learn-more">
      <img class="img-fluid" src="{{ '/assets/images/download-calyxos.svg' | relative_url }}" alt="#">
      <h3><a href="{{ '/get' | relative_url}}">Download CalyxOS</a></h3>
      <p>Install CalyxOS on your device.</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="{{ '/assets/images/about-calyxos.svg' | relative_url }}" alt="#">
      <h3><a href="{{ '/about' | relative_url }}">About CalyxOS</a></h3>
      <p>Why did we create CalyxOS?</p>
    </div>
  </div>
</div>
