<div class="feature">
  <div class="row">
    <div class="col join">
      <img src="/assets/images/lm-logo-calyx.svg" alt="Calyx Institute Logo">
      <h2>Become a Member</h2>
      <p>CalyxOS is a collaborative open source applied research project sponsored by the Calyx Institute, a 501(c) non-profit dedicated to making privacy and security available for all.</p>
      <div class="mt-3">
        <a class="btn btn-outline-secondary" href="https://calyxinstitute.org">Join Calyx</a>
      </div>
    </div>
  </div>
</div>
